<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220743595393-371g3mb8kdeaqc9gjjg78etnjkjp3q6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220743595393-371g3mb8kdeaqc9gjjg78etnjkjp3q6c</string>
	<key>API_KEY</key>
	<string>AIzaSyDeumJBWZZho09ubH3xTztJkIeY0UqdS5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>220743595393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twic.reactnative</string>
	<key>PROJECT_ID</key>
	<string>twic-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>twic-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220743595393:ios:a8befbda10ffe3c96d6480</string>
	<key>DATABASE_URL</key>
	<string>https://twic-reactnative.firebaseio.com</string>
</dict>
</plist>